<!-- wishlist.html -->
{% extends 'base.html' %}
{% block content %}
<body style="background-color: beige;">
    

<h2 style="margin: 80px; text-align: center; color: #CA8787;">My Wishlist</h2>
<div class="wishlist-container">
    {% if wishlist_books %}
        {% for item in wishlist_books %}
        <div class="wishlist-item">

            <h3>{{ item.book.title }}</h3>
            <div class="cart-item-image">
                <img src="{{ item.book.cover_image.url }}" alt="{{ item.book.title }} cover image" style="height: 280px; width: 300px;">
            </div>
            <p>Author: {{ item.book.author }}</p>
            <!-- <p>Description: {{ item.book.description }}</p> -->
            <a href="{% url 'remove_from_wishlist' item.book.id %}" class="btn" style="border: solid 2px black;background-color:#C96868;color: white; ">Remove</a>
        </div>
        {% endfor %}
    {% else %}
        <p style="font-size:30px;color: black; text-align: center;;">Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock %}

</body>
<style>


.wishlist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wishlist-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


</style>


{% block footer %}{% endblock footer %}
